* text=auto
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.svg text eol=lf
*.html text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
archives/*.zip filter=lfs diff=lfs merge=lfs -text
